stages:
  - build

variables:
  MESON_TEST_TIMEOUT_MULTIPLIER: 2
  DEPS_MINGW: gcc meson mingw64-gcc mingw64-pkg-config mingw64-glib2

vs2017-x64:
  cache:
    paths:
      - _ccache/
  stage: build
  except:
    - tags
  tags:
    - win32-ps
  script:
    - .gitlab-ci/test-msvc.bat
  artifacts:
    name: "wing-${env:CI_JOB_NAME}-${env:CI_COMMIT_REF_NAME}"
    when: always
    paths:
      - _build/meson-logs

mingw-x64:
  image: fedora:latest
  stage: build
  before_script:
    - dnf install -y $DEPS_MINGW
  script:
    - mkdir _build-mingw64 && cd _build-mingw64
    - mingw64-meson
    - ninja 
  artifacts:
    paths:
      - _build-mingw64/meson-logs
    when: always
    expire_in: 1 week
